<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Group Selection</title>
        <style>
            html {
                background-color: lightgray;
                padding:25px;
                font-size: 18px;
                border:6px groove purple;
            }
            h1 {
                color: darkblue;
            }
            fieldset  {
                border-radius:5px;
                border-color: black;
                padding: 15px;
            }
        </style>
    </head>
    <body>
        <h1>Admin Select Group</h1>
        <form action="/processGroup" method="post">
            <fieldset>
                Group:
                <select name="musicGroup" id="musicGroup">
                    <option value="Ethnobeat">Ethnobeat</option>
                    <option value="DaCadence">DaCadence</option>
                    <option value="Rak Shalom">Rak Shalom</option>
                    <option value="Kol Sasson">Kol Sasson</option>
                </select>
            </fieldset>
            <br>
            <input type="submit" value="Next"/>
            <hr>
        </form>
    </body>
    <a href="/">HOME</a>
</html>