<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Group Acceptances</title>
        <style>
            html {
                background-color: beige;
                padding:25px;
                border:6px groove pink;
                font-size: 18px;
            }
            h1 {
                color: darkblue;
            }
        </style>
    </head>

    <body>
        <h1>Get Group Acceptances List</h1>
        <div>
            <form action="http://localhost:3000/auditionee" method="post">
                <label
                    >Group:
                    <select name="groupDropdown">
                        <option value="Ethnobeat">Ethnobeat</option>
                        <option value="DaCadence">DaCadence</option>
                        <option value="Rak Shalom">Rak Shalom</option>
                        <option value="Kol Sasson">Kol Sasson</option>
                    </select></label
                >
                <br /><br />
                <br />
                <input type="submit" value="Check Acceptances List" />
            </form>
            <hr />
        </div>
        <a href="/">HOME</a>
    </body>
</html>
