<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display Applicant Decisions (confirmation)</title>
</head>

<body>
	<h1>Decisions Made</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Yes/No</th>
        </tr>
        <%- groupConfirmation %>
    </table>
    <br>
    <br>
    <a href="/">HOME</a>
</body>
</html>