<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display Applicant Decisions (confirmation)</title>
    <style>
        html {
            font: size 18px;
            background-color: beige;
            padding:25px;
        }
        h1 {
            color: darkblue;
        }
        table {
            border: 2px dashed black;
            border-radius: 5px;
        }
        th, td {
            border: 1px solid black;
            border-radius: 5px;
        }
    </style>
</head>

<body>
	<h1>Decisions Made</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Yes/No</th>
        </tr>
        <%- groupConfirmation %>
    </table>
    <br>
    <br>
    <a href="/">HOME</a>
</body>
</html>