<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display Applicant Decisions</title>
    <style>
        html {
            background-color: lightgray;
            padding:25px;
            border:6px groove red;
        }
        h1 {
            color: red;
            text-shadow: 5px 5px 3px darkred;
        }
        table {
            border: 2px dashed black;
            border-radius: 5px;
        }
        th, td {
            border: 1px solid black;
            border-radius: 5px;
        }
    </style>
</head>

<body>
	<h1>Make Your Decisions</h1>
    <form action="http://localhost:3000/decisionsConfirmation" method="post">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Yes/No</th>
            </tr>
            <%- groupTable %>
        </table>
        <br>
        <input type="reset" value="Clear All Decisions">
        <input type="submit" value="Submit Decisions">
    </form>
    <br>
    <a href="/">HOME</a>
</body>
</html>