<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Acapella Applicants</title>
        <style>
            html {
                background-color: lightgray;
                padding:25px;
                border:6px groove red;
            }
            h1 {
                color: red;
            }
            table {
                border: 2px dashed black;
                border-radius: 5px;
            }
            th, td {
                border: 1px solid black;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Applicants</h1>
        <form action="http://localhost:3000/processApplication" method="post">
            <h2>Select which members to accept: </h2>
            <fieldset>
                <%- group %>
            </fieldset>
            <br>
            <input type="submit" value="Submit Application"/>
            <hr>
        </form>
    </body>
    <a href="/">HOME</a>
</html>