<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Acapella Applicants</title>
    </head>
    <body>
        <h1>Applicants</h1>
        <form action="http://localhost:3000/processApplication" method="post">
            <h2>Select which members to accept: </h2>
            <fieldset>
                <%- group %>
            </fieldset>
            <br>
            <input type="submit" value="Submit Application"/>
            <hr>
        </form>
    </body>
    <a href="/">HOME</a>
</html>