<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Group Acceptances List</title>
        <style>
            html {
                background-color: lightblue;
                padding:25px;
                border:6px groove purple;
            }
            h1 {
                color: darkblue;
            }
            table {
                border: 2px dashed black;
                border-radius: 5px;
            }
            th, td {
                border: 1px solid black;
                border-radius: 5px;
            }
        </style>
    </head>

    <body>
        <h1><%- group %> Acceptances List</h1>
        <div>
            <%- table %>
        </div>
        <hr />
        <a href="/">HOME</a>
    </body>
</html>