<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>A Cappella Auditions</title>
    </head>
    
    <body>
        <h1>A Cappella Auditions</h1>

        <h2>Auditionee</h2>
        <ul>
            <li>To audition select <a href="/audition">Audition Form</a></li><br>
            <li>To check if you got accepted <a href="/auditionee">Group Acceptances</a></li><br><br>
        </ul>
        <hr>

        <h2>Group</h2>
        <ul>
            <li>Make group decisions <a href="/adminGroupForm">Group Form</a></li><br>
        </ul>
        <hr>
    </body>
</html>