<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Application Confirmation</title>
    </head>
    <body>
        <h1>Confirmation</h1>
        <div>
            Name: <%- name %><br>
            Terpmail: <%- email %><br>
            Group selected: <%- group %><br>
            Additional Information: <%- bginfo %><br><br>
            <p><i>Thanks for filling out this audition form!</i></p>
        </div>
    </body>
</html>